<div class="container">
    <div class="row">

      <center><img src = "logo1.png"></center>
        <font color = "CC3366"><h1>チャットルーム</h1></font>
        <form method="post" action="/">
            <div class="room-login_user">
                ログインユーザ：{{userName}}さん
                <input id="userName" type="hidden" value={{userName}}>
            </div>
            <div class="room-message">
                <textarea id="message" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"></textarea>
            </div>
            <div class="room-submit">
                <input type="button" value="投稿" class="btn btn-danger index-enter_butto" onclick="publish();">
                <input type="button" value="メモ" class="btn btn-danger index-enter_butto" onclick="memo();">
                <input type="button" value="時刻表示" class="btn btn-warning index-enter_butto" onclick="time1();">
                <input type="button" value="時刻非表示" class="btn btn-warning index-enter_butto" onclick="time2();">
            </div>
            <div class="room-thread">
                <div id="thread"></div>
            </div>
            <div class="room-exit">
                <input type="button" value="退室する" class="btn btn-danger index-enter_butto" onclick="exit();">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
